<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./Partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./Partials/nav.ejs') %>
    <h1>Home Page!</h1>
    
        <%- include('./Partials/scripts.ejs') %>
    
</body>
</html>